# Python compiled files
__pycache__/
*.py[cod]

# Database file (usually a schema.sql file is uploaded instead of a binary database)
*.db
*.sqlite3

# Environment files
.env
venv/
.venv/

# IDE configuration file
.vscode/
.idea/

# System files
.DS_Store